html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

@import url('https://fonts.googleapis.com/css?family=VT323|Audiowide');

::-webkit-scrollbar {
    display: none;
}

.example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.section1{
    width: 100%;
    height: 100%;
    float: left;
    background-color: blue;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #05021b;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}


#objects{
    width: 100%;
    height: 50%;
    float: left;
}

model-viewer{
    --progress-bar-color: none;
}

#pizza {
    width: 600px;
    height: 500px;
    float: left;
    margin-left: 60%;
    margin-top: 10%;
}

#hologram {
    width: 300px;
    height: 200px;
    float: left;
    margin-left: 40%;
}

#box {
    width: 100px;
    height: 50px;
    float: left;
    margin-left: 40%;
    margin-top: -10%;
}


.logo {
	width: 150px;
    height: 80px;
    margin-top: 1%;
    margin-left: 1%;
    float: left;
    position: relative;
}

#pizzamenu {
    width: 1200px;
    height: 800px;
    margin-top: -25%;
    float: left;
    position: relative;
   
}

.pizzamenu{
    width: 100%;
    height: 100%;
    object-fit: fill;
    background-size: cover;
}


.menu {
    width: 100%;
    height: 70px;
    float: left;
    position: absolute;
    z-index: 1000;

}

.menu li {
    list-style: none;
    float: left;
    width: auto;
    text-align: center;
    text-transform: uppercase;
    font: 15px "Segoe UI";
    margin-left: 20%;
    margin-top: 2%;
    color: white;
}

.menu li:hover {
    color: green;
}

/* Here is the css configuration for the table and ordering */
/* Text style based on codepen https://codepen.io/Nef_HC/pen/OmONzO */
.void {
    float: left;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #05021b;
}

table {
    border-collapse: collapse;
}

.table{
    display: -webkit-box;
    display: -webkit-flexl;
    display: -ms-flexboxl;
    display: flex;
}

.table .col {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0 30px 30px 0;
    padding: 15px;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: inset 0 -1px 0 1px rgb(0, 0, 0, 0.1);
}

.table .col:last-child {
    margin-right: 0;
}



#tableTitle {
    font-family: 'VT323', monospace;
    color: #00B200;
    text-align: center;
}

.tabledesign {
    float: left;
    background: white;
}

.select{
    background: white;
    color: black;
}

.table {
    width: 100%;
    font-family: 'Audiowide', sans-serif;
}

th {
    font-weight: bold;
}

td, th{
    text-align: left;
}
